<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ILG.Codex.CodexR4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ILG.Codex.CodexR4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ILG.Codex.CodexR4.Properties.Settings>
            <setting name="SQLServer" serializeAs="String">
                <value>.\CodexDS</value>
            </setting>
            <setting name="TemporaryDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="CodexDatabaseTo_Installer" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeyboardLayout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CodexDatabaseFrom_Installer" serializeAs="String">
                <value/>
            </setting>
            <setting name="CurrentDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="WhenCrashNew" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CodexDatabaseFrom_Creator" serializeAs="String">
                <value/>
            </setting>
            <setting name="CodexDatabaseTo_Creator" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConnectionString_master" serializeAs="String">
                <value/>
            </setting>
            <setting name="sa_passw" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLAuthMethod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SQLServer_Type" serializeAs="String">
                <value>0</value>
            </setting>
        </ILG.Codex.CodexR4.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ILG.Codex.CodexR4.Properties.Settings>
            <setting name="WhenCrash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckDisplayResolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebAddress" serializeAs="String">
                <value>www.codex.ge</value>
            </setting>
            <setting name="SupportAddress" serializeAs="String">
                <value>support@codex.ge</value>
            </setting>
            <setting name="BugTraqMail" serializeAs="String">
                <value>support@codex.ge</value>
            </setting>
        </ILG.Codex.CodexR4.Properties.Settings>
    </applicationSettings>
    <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
