<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ILG.Codex.CodexR4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ILG.Codex.Codex2014.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ILG.Codex.CodexR4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ILG.Codex.Codex2014.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ILG.Codex.CodexR4.Properties.Settings>
            <setting name="TemporaryDir" serializeAs="String">
                <value />
            </setting>
            <setting name="WhenCrashNew" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SQLServer_InstallCommand" serializeAs="String">
                <value>/QS /ACTION=Install /Hideconsole=TRUE /FEATURES=SQL,Tools /IACCEPTSQLSERVERLICENSETERMS=TRUE  /INSTANCENAME=CodexR4 /SECURITYMODE=SQL /SAPWD="Codex$12345678" /SQLCOLLATION="SQL_Latin1_General_CP1_CI_AS" /SQLSYSADMINACCOUNTS="BUILTIN\ADMINISTRATORS" /SQLSVCACCOUNT="NT AUTHORITY\SYSTEM" /AGTSVCACCOUNT="NT AUTHORITY\Network Service" /UPDATEENABLED=FALSE</value>
            </setting>
            <setting name="SQLServerAdvanced_InstallCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerShell_InstallCommnad" serializeAs="String">
                <value />
            </setting>
            <setting name="Postgress_InstallCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="Client_Install" serializeAs="String">
                <value />
            </setting>
            <setting name="Library_Install" serializeAs="String">
                <value />
            </setting>
            <setting name="CodexR4_Install" serializeAs="String">
                <value />
            </setting>
            <setting name="Font_Install" serializeAs="String">
                <value />
            </setting>
            <setting name="Database_Install" serializeAs="String">
                <value />
            </setting>
        </ILG.Codex.CodexR4.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ILG.Codex.CodexR4.Properties.Settings>
            <setting name="WhenCrash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InstallConfiguration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DotNetFx35Windows8" serializeAs="String">
                <value>https://msdn.microsoft.com/en-us/library/hh506443%28v=vs.110%29.aspx</value>
            </setting>
            <setting name="DotNetFx35Windows2012" serializeAs="String">
                <value>https://technet.microsoft.com/en-us/library/dn482071.aspx</value>
            </setting>
            <setting name="Enable_FX35_Windows81" serializeAs="String">
                <value>https://msdn.microsoft.com/en-us/library/hh506443(v=vs.110).aspx</value>
            </setting>
            <setting name="Enable_FX35_Windows8" serializeAs="String">
                <value>https://support.microsoft.com/en-us/kb/2785188</value>
            </setting>
            <setting name="Enable_FX35_Windows2012" serializeAs="String">
                <value>http://blogs.msdn.com/b/sql_shep/archive/2012/08/01/windows-2012-and-net-3-5-feature-install.aspx</value>
            </setting>
            <setting name="WebAddress" serializeAs="String">
                <value>www.codex.ge</value>
            </setting>
            <setting name="SupportAddress" serializeAs="String">
                <value>support@codex.ge</value>
            </setting>
            <setting name="BugTraqMail" serializeAs="String">
                <value>support@codex.ge</value>
            </setting>
        </ILG.Codex.CodexR4.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
